<mat-card>
  <mat-card-content>
    <app-topmenu>
      <div buttons>
        <button mat-flat-button type="button" color="primary" (click)="resetconfiguration()">Reset config</button>
      </div>
    </app-topmenu>
    <div *ngIf="loading">
      <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div style="display:flex;justify-content: space-between;">
      <h3 class="subheading-1">Configured Sigels:</h3>
      <div class="eca-actions">
        <button mat-flat-button type="button" color="primary" (click)="openDialog('add')" [disabled]="dialogOpen">Add
          Sigel</button>
      </div>
    </div>
    <div *ngIf="configuration && configuration.LibrisSigelTemplate.length>0">
      <div *ngFor="let item of configuration.LibrisSigelTemplate">
        <div style="display:flex;width: 100%;align-items: center;">
          <div style="flex:3">
            <span>{{item.sigel}}, {{item.libraryname}}, {{item.almalibrarycode}}</span>
          </div>
          <div style="flex:1;display: flex;">
            <button mat-icon-button (click)="openDialog('edit', item)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="remove(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <ng-template>
      <div id="emptyList">
        <p>Add Sigel by clicking 'Add Sigel'-button.</p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div style="display:flex;justify-content: space-between;">
      <h3 class="subheading-1">Configuration:</h3>
      <div class="eca-actions">
        <button mat-flat-button type="button" color="primary" (click)="save()" [disabled]="!(form?.dirty)">Save</button>
      </div>
    </div>
    <div class="loading-shade" *ngIf="saving">
      <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Libris URL" formControlName="librisUrl">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Proxy URL" formControlName="proxyUrl">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>