<p><a (click)="setLang('en')">English</a> | <a (click)="setLang('sv')">Svenska</a></p>
<h4 translate>Translate.Intro</h4>
<div *ngIf="app_error">
    <mat-card>
        <mat-card-content>
            <i class="material-icons md-30 icon-red">error</i> {{app_errormessage}}
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="hasAlmaApiResult">
    <div *ngIf="!hasLibrisResult">
        <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
        <span translate>Translate.Handling</span>
        <div>{{nrofEntetiesProcessed}} av {{numberofAlmaItems}}</div>
    </div>
    <div *ngIf="hasLibrisResult">
        <i class="material-icons md-30 icon-green">check_circle</i>
        <p translate>Translate.Allhandled</p>
        <div *ngFor="let pageitem of pageitems; index as i">
            <mat-card *ngIf="pageitem" [id]="'card-' + i"
                [class.selected-card]="selectedId && entities && entities[i] && entities[i].id === selectedId">
                <mat-card-header>
                    <mat-card-title *ngIf="!pageitem.librisitem.librisinstance">
                        <i class="material-icons md-30 icon-red">error</i>{{i + 1 + '. ' + pageitem.librisitem.title}}
                    </mat-card-title>
                    <mat-card-title *ngIf="pageitem.librisitem.librisinstance">
                        <a href="{{pageitem.librisitem.librisinstancelink}}" target="_blank">{{i + 1 + '. ' +
                            pageitem.librisitem.title}} <i class="material-icons md-14">launch</i>
                        </a>
                    </mat-card-title>
                    <mat-card-subtitle *ngIf="pageitem.mms_id">MMS ID: {{pageitem.mms_id}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content *ngIf="pageitem.librisitem.librisid !=''">
                    <i>
                        <span translate>Translate.idlabel</span>
                        <span (click)="pageitem.showjson = !pageitem.showjson"
                              style="cursor: pointer; text-decoration: underline dotted;">
                            {{pageitem.librisitem.librisid}}
                        </span>
                        <pre *ngIf="pageitem.showjson"
                             style="max-height: 300px; overflow: auto; font-size: 11px; background: #f5f5f5; padding: 8px;">{{pageitem.librisitem | json}}</pre>
                    </i>
                </mat-card-content>
                <mat-card-content *ngIf="!pageitem.librisitem.librisinstance">
                    {{pageitem.librisitem.errormessage}}
                </mat-card-content>
                <mat-card-content
                    *ngIf="pageitem.librisitem.librisholdings.length > 0 && pageitem.librisitem.librisinstance">
                    <div *ngFor="let librisholding of pageitem.librisitem.librisholdings">
                        <div *ngFor="let sigel of sigels | keyvalue">
                            <div *ngIf="sigel.value.sigel == librisholding.sigel">
                                <h3>{{sigel.value.libraryname}} ({{sigel.value.sigel}})</h3>
                            </div>
                        </div>
                        <div *ngIf="librisholding.marc_852">
                            <div *ngFor="let marc852 of librisholding.marc_852;index as i"
                                style="padding-left: 0px; padding-bottom: 20px">
                                <div *ngIf="marc852.c != '' || marc852.h != ''  || marc852.j != ''  || marc852.l != '' || marc852.t != '' || marc852.i != '' ; else elseBlock"
                                    style="padding-left: 0px; padding-bottom: 5px">
                                    <div class="holding-row">
                                        <div class="holding-row-text">
                                            <div>
                                                <i translate>Translate.locationtext </i>
                                                <span *ngIf="marc852.c != ''"><b>c#</b> {{marc852.c}} </span>
                                                <span *ngIf="marc852.h != ''"><b>h#</b> {{marc852.h}} </span>
                                                <span *ngIf="marc852.j != ''"><b>j#</b> {{marc852.j}} </span>
                                                <span *ngIf="marc852.l != ''"><b>l#</b> {{marc852.l}} </span>
                                                <span *ngIf="marc852.t != ''"><b>t#</b> {{marc852.t}} </span>
                                                <span *ngIf="marc852.i != ''"><b>i#</b> {{marc852.i}} </span>
                                                <span *ngIf="marc852['8'] != ''"><b>8#</b> {{marc852['8']}} </span>
                                            </div>
                                            <div>
                                                <span *ngIf="marc852.otherinfo && marc852.otherinfo != ''"><i translate>Translate.otherinfotext </i>{{marc852.otherinfo}}</span>
                                            </div>
                                        </div>
                                        <div class="holding-row-actions"
                                            *ngIf="config?.proxyUrl && librisholding.holdingurl">
                                            <button mat-icon-button
                                                (click)="editHolding(pageitem, librisholding, getLibraryName(librisholding.sigel), i)"
                                                [title]="'Translate.holding_editrow' | translate">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button *ngIf="librisholding.marc_852.length > 1"
                                                (click)="deleteHoldingRow(librisholding, i)"
                                                [title]="'Translate.holding_deleterow' | translate">
                                                <mat-icon>delete_outline</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ng-template #elseBlock>Det finns ett tomt bestånd i Libris</ng-template>
                            </div>
                            <div class="holding-buttons" *ngIf="config?.proxyUrl && librisholding.holdingurl">
                                <button mat-stroked-button
                                    (click)="addHoldingRow(librisholding, getLibraryName(librisholding.sigel))">
                                    <mat-icon>add</mat-icon> {{ 'Translate.holding_add' | translate }}
                                </button>
                                <button mat-stroked-button color="warn"
                                    (click)="deleteHolding(pageitem, librisholding, getLibraryName(librisholding.sigel))">
                                    <mat-icon>delete</mat-icon>
                                    {{ (librisholding.marc_852.length > 1 ? 'Translate.holding_deleteall' : 'Translate.holding_delete') | translate }}
                                </button>
                            </div>
                            <div *ngIf="librisholding.otherinfo" style="padding-left: 0px; padding-bottom: 10px">
                                <i translate>Translate.otherinfotext </i>{{librisholding.otherinfo}}
                            </div>
                            <div *ngIf="librisholding.link != '#'" style="padding-left: 0px; padding-bottom: 10px">
                                <a href="{{librisholding.link}}" target="_blank"
                                    translate>Translate.librisholdingslinktext
                                    <i class="material-icons md-14">launch</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-content
                    *ngIf="pageitem.librisitem.librisholdings.length == 0 && pageitem.librisitem.librisinstance">
                    <i class="material-icons md-30 icon-red">error</i> {{pageitem.librisitem.errormessage}}
                </mat-card-content>
                <mat-card-content
                    *ngIf="config?.proxyUrl && pageitem.librisitem.librisinstance && pageitem.librisitem.instanceid && getCreateOptions(pageitem).length > 0">
                    <div class="no-holding-row" *ngFor="let option of getCreateOptions(pageitem)">
                        <span><b>{{option.libraryname}} ({{option.sigel}})</b> – {{ 'Translate.holding_noholding' | translate }}</span>
                        <button mat-stroked-button (click)="createHolding(pageitem, option.sigel)">
                            <mat-icon>add</mat-icon> {{ 'Translate.holding_add' | translate }}
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
<div *ngIf="!hasAlmaApiResult">
    <i class="material-icons md-30">error</i><span translate>Translate.notitlesinfo</span>
</div>
<div *ngIf="configmissing">
    <i class="material-icons md-30 icon-red">error</i> <span translate>Translate.noconfiginfo</span>
</div>